body {
  display : flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.input-group {
  margin : 10px;
}
#link {
  display : flex;
}
#left {
  margin : 10px;
}
#right {
  margin : 10px;
}